@mixin btn {
    padding: 1.4rem 5rem;
    font-family: 'Hind Madurai';
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0em;
    background-color: #D23166;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: yellow;
    }
}
