* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @media (max-width: 700px) {
        font-size: 43.75%;
    }
    @media (max-width: 480px) {
        font-size: 28%;
    }
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Hind Madurai";
    src: url(../font/Hind_Madurai/HindMadurai-Regular.ttf);
}
@font-face {
    font-family: "Fredoka One";
    src: url(../font/Fredoka_One/FredokaOne-Regular.ttf);
}

body {
    background-color: #f2ceda;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #d23166;
    border-radius: 5px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
@import "./_btn";
.color-pink {
    color: #d23166;
}
.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-box-top {
    }
    .navbar-box-center {
        .fixed-navbar {
            .navbar-cancel {
                font-size: 5.5rem;
                cursor: pointer;
                margin-left: 77%;
                opacity: 0.7;
                display: none;
                &:hover {
                    opacity: 1;
                }
            }
            @media (max-width: 992px) {
                position: fixed;
                top: 0rem;
                left: -100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 100vh;
                z-index: 10;
                background-color: #8591a6;
                transition: 0.3s all linear;
                .for-media-li-top {
                    margin-top: 8rem;
                }
                li {
                    display: block;
                    margin-bottom: 3rem;
                    a {
                        font-size: 4rem !important;
                    }
                }
                .navbar-cancel {
                    display: block;
                }
            }
        }
        .navbar-fixed-show {
            position: fixed;
            top: 0rem;
            left: 0;
            display: flex;
            width: 100%;
            height: 100vh;
            z-index: 10;
            background-color: #8591a6;
        }
        ul li {
            list-style: none;
            display: inline-block;
            margin-right: 4rem;
            a {
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-decoration: none;
                color: #150101;
                opacity: 0.6;
                &:hover {
                    color: #d23166;
                    opacity: 1;
                    font-weight: bold;
                }
            }
        }
    }
    .navbar-box-bottom {
        .btn-my {
            @include btn;
        }
    }
    #check {
        display: none;
    }
    .checkbtn {
        display: none;
        i {
            font-size: 3rem;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
        @media (max-width: 992px) {
            display: block;
        }
    }
}

.main {
    .section-1 {
        .section-1-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .section-1-box-top {
                width: 50%;
                margin-bottom: 12rem;
                h5 {
                    margin-top: 15rem;
                    font-family: "Roboto";
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.6rem;
                    letter-spacing: 0.1em;
                    color: #0f0101;
                }
                h1 {
                    font-family: "Fredoka One";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 5.7rem;
                    color: #0f0101;
                    opacity: 0.9;
                    span {
                        font-size: 5.7rem;
                    }
                }
                p {
                    font-family: "Hind Madurai";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #0f0101;
                    margin: 3.5rem 0;
                    opacity: 0.6;
                }
                .btn-my {
                    @include btn;
                    font-family: Hind Madurai;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 2.2rem;
                    letter-spacing: 0em;
                    text-align: left;
                }
                @media (max-width: 700px) {
                    min-width: 30rem;
                    width: 100%;
                }
            }
            .section-1-box-bottom {
                width: 50%;
                .section-1-box-position {
                    position: relative;
                    width: 70%;
                    height: 100%;
                    .section-1-box-img {
                        position: absolute;
                        width: 100%;
                        left: 20%;
                    }
                    .my-position-1 {
                        top: 2rem;
                        left: 0%;
                        width: 54rem;
                    }
                    .my-position-2 {
                        left: -16rem;
                        bottom: -2rem;
                        width: 80rem;
                        @media (max-width: 1200px) {
                            bottom: -4rem;
                        }
                    }
                    .my-position-3 {
                        top: 35rem;
                        left: 10rem;
                        width: 32rem;
                    }
                    @media (max-width: 1300px) {
                        display: none;
                    }
                }
                .section-1-box-position-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 4rem;
                    img {
                        width: 150%;
                        @media (max-width: 750px) {
                            width: 100%;  
                      }
                    }
                   @media (min-width: 1300px) {
                    display: none;
                   }
                }
                @media (max-width: 750px) {
                      width: 100%;  
                }
            }
            
            @media (max-width: 700px) {
                flex-direction: column-reverse;
                width: 100%;
            }
        }
    }
    .section-2 {
        // height: 40rem;
        background-color: #fff;
        margin-top: 4rem;
        .section-2-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 5rem;
            .section-2-blok {
                width: 22%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-width: 20rem;
                margin-top: 10rem;
                border: 1px solid #00000008;
                img {
                    margin-bottom: 2rem;
                    margin-top: 3rem;
                }
                h3 {
                    font-family: "Hind Madurai";
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2.8rem;
                    // white-space: nowrap;
                    text-align: center;
                }
                p {
                    font-family: "Hind Madurai";
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                    text-align: center;
                    margin-top: 1rem;
                    width: 80%;
                    margin-bottom: 3rem;
                    opacity: 0.6;
                }
                @media (max-width: 800px) {
                    width: 45%;
                }
                @media (max-width: 400px) {
                    width: 70%;
                }
            }
            @media (max-width: 400px) {
                justify-content: center;
            }
        }
    }
    .section-3 {
        .section-3-box {
            display: flex;
            justify-content: space-between;
            .section-3-blok-1 {
                width: 50%;
                margin-top: 14rem;
                h1 {
                    font-family: "Hind Madurai";
                    font-size: 4.4rem;
                    font-weight: 600;
                    line-height: 4.9rem;
                    letter-spacing: 0em;
                    margin-top: 3rem;
                    width: 70%;
                    @media (max-width: 750px) {
                        width: 100%;
                    }
                }
                p {
                    font-family: "Roboto";
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    letter-spacing: 0em;
                    margin-top: 1.6rem;
                    margin-bottom: 3rem;
                    opacity: 0.6;
                }
                .btn {
                    @include btn;
                    font-family: Roboto;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.9rem;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 10rem;
                }
                @media (max-width: 850px) {
                    width: 100%;
                    min-width: 42.5rem;
                }
            }
            .section-3-blok-2 {
                width: 50%;
                position: relative;
                .section-3-position {
                    position: absolute;
                    width: 100%;
                }
                .section-3-img-1 {
                    top: 0rem;
                }
                .section-3-img-2 {
                    top: 41rem;
                    left: 20%;
                    width: 60%;
                    @media (max-width: 1000px) {
                        top: 30rem;
                    }
                    @media (max-width: 850px) {
                        top: 50rem;
                    }
                    @media (max-width: 700px) {
                        top: 60rem;
                    }
                    @media (max-width: 580px) {
                        top: 50rem;
                    }
                    @media (max-width: 480px) {
                        top: 40rem;
                    }
                }
                @media (max-width: 850px) {
                    width: 100%;
                    min-width: 42.5rem;
                    height: 60rem;
                }
            }
            @media (max-width: 850px) {
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
        }
    }
    .section-4 {
        background-color: #fff;
        .section-4-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                padding-top: 14rem;
                font-family: "Hind Madurai";
                font-size: 4.4rem;
                font-weight: 600;
                line-height: 6rem;
                letter-spacing: 0em;
                text-align: center;
                margin-bottom: 6rem;
            }
            ul {
                overflow-x: scroll !important;
                display: flex;
                flex-wrap: nowrap;
                // width: 80rem;
                @media (max-width: 1000px) {
                    width: 100%;
                }
            }
            ul li {
                list-style-type: none;
                display: inline-block;
                font-family: "Roboto";
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 2rem;
                margin-right: 4rem;
                white-space: nowrap;
                opacity: 0.6;
                border: 2px solid transparent;
                padding-bottom: 0.2rem;
                margin-bottom: 0.2rem;
                &:hover {
                    opacity: 1;
                    border-bottom: 2px solid #d64374;
                }
            }
        }
    }
    .section-5 {
        background-color: #fff;
        padding-bottom: 3rem;
        .section-5-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .section-5-box-blok-1 {
                width: 50%;
                img {
                    width: 100%;
                }
                @media (max-width: 700px) {
                    min-width: 40rem;
                    width: 80%;
                }
            }
            .section-5-box-blok-2 {
                width: 45%;
                h1 {
                    font-family: Hind Madurai;
                    font-size: 2.6rem;
                    font-weight: 700;
                    line-height: 3.6rem;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 5rem;
                }
                p {
                    font-family: Roboto;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    letter-spacing: 0em;
                    text-align: left;
                    opacity: 0.7;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }
                div {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 1.6rem;
                    h1 {
                        font-family: "Hind Madurai";
                        font-size: 2.6rem;
                        font-weight: 500;
                        line-height: 3.6rem;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: 0.5rem;
                        margin-top: 0;
                    }
                    span {
                        font-family: Hind Madurai;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 2.8rem;
                        letter-spacing: 0em;
                        text-align: left;
                        opacity: 0.7;
                    }
                }
                .btn {
                    @include btn;
                }
                @media (max-width: 700px) {
                    min-width: 30rem;
                    width: 100%;
                }
            }
            @media (max-width: 700px) {
                flex-wrap: wrap;
            }
        }
    }
    .section-6 {
        background-color: #fff;
        padding-bottom: 3rem;
        .section-6-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .section-6-box-blok-2 {
                width: 45%;
                img {
                    width: 100%;
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 70%;
                }
            }
            .section-6-box-blok-1 {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h1 {
                    font-family: "Hind Madurai";
                    font-size: 2.6rem;
                    font-weight: 700;
                    line-height: 3.6rem;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 5rem;
                }
                p {
                    font-family: Roboto;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    letter-spacing: 0em;
                    text-align: left;
                    opacity: 0.7;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                    text-align: right;
                }
                div {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 1.6rem;
                    h1 {
                        font-family: "Hind Madurai";
                        font-size: 2.6rem;
                        font-weight: 500;
                        line-height: 3.6rem;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-right: 0.5rem;
                        margin-top: 0;
                    }
                    span {
                        font-family: Hind Madurai;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 2.8rem;
                        letter-spacing: 0em;
                        text-align: left;
                        opacity: 0.7;
                    }
                }
                .btn {
                    @include btn;
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 100%;
                }
            }
            @media (max-width: 700px) {
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
        }
    }
    .section-7 {
        background-color: #fff;
        .section-7-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .section-7-box-blok-1 {
                width: 35%;
                margin-bottom: 6rem;
                .section-7-blog {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5rem;
                    img {
                        margin-right: 2rem;
                        border-radius: 50%;
                    }
                    h1 {
                        font-family: Roboto;
                        font-size: 2.4rem;
                        font-weight: 500;
                        line-height: 2.8rem;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-left: 1rem;
                    }
                    h2 {
                        font-family: Roboto;
                        font-size: 1.2rem;
                        font-weight: 500;
                        line-height: 1.4rem;
                        letter-spacing: 0em;
                        text-align: left;
                        opacity: 0.7;
                    }
                }
                p {
                    font-family: Roboto;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    letter-spacing: 0em;
                    text-align: left;
                    opacity: 0.7;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    display: inline;
                    position: relative;
                    .symbol-left {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .symbol-right {
                        position: absolute;
                        bottom: -1rem;
                        right: 0;
                    }
                    @media (max-width: 700px) {
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
                .section-7-comment {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 4rem;
                    width: 80%;
                    .btn-comment {
                        background-color: transparent;
                        padding: 1rem;
                        border: 1px solid transparent;
                        cursor: pointer;
                        i {
                            font-size: 1.8rem;
                            color: #d64374;
                            opacity: 0.7;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    .comment-img {
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;
                    }
                    .comment-img-active {
                        width: 60px;
                        height: 60px;
                        border: 1px solid #d64374;
                    }
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 100%;
                }
            }
            .section-7-box-blok-2 {
                width: 50%;
                img {
                    width: 100%;
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 70%;
                }
            }
            @media (max-width: 700px) {
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
        }
    }
    .section-8 {
        height: 62rem;
        .section-8-box {
            display: flex;
            // justify-content: space-between;
            justify-content: center;
            margin-top: 8rem;
            .section-8-box-blok-1 {
                img {
                    width: 100%;
                    margin-top: 4.4rem;
                    border-radius: 3rem;
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 60%;
                }
            }
            .section-8-box-blok-2 {
                width: 40%;
                margin-left: 10%;
                margin-bottom: 5rem;
                h1 {
                    font-family: Roboto;
                    font-size: 4.4rem;
                    font-weight: 500;
                    line-height: 52px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                p {
                    font-family: Roboto;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    opacity: 0.7;
                    margin-bottom: 3rem;
                }
                .section-8-blok-2-helper {
                    display: flex;
                    margin-bottom: 1.5rem;
                    .section-8-blok-for-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fff;
                        margin-right: 1rem;
                        width: 30px;
                        height: 30px;
                    }
                    h3 {
                        font-family: Roboto;
                        font-size: 2.2rem;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
                .stores {
                    display: flex;
                    align-items: center;
                    margin-top: 4rem;
                    .logo-play-market {
                        width: 23rem;
                        height: 5rem;
                        margin-left: -2rem;
                        @media (max-width: 1090px) {
                            margin-left: -1.3rem;
                            margin-bottom: 2rem;
                        }
                    }
                    .logo-app-store {
                        width: 20rem;
                        height: 5rem;
                    }
                    @media (max-width: 1090px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
                @media (max-width: 700px) {
                    min-width: 35rem;
                    width: 100%;
                }
            }
            @media (max-width: 700px) {
                flex-wrap: wrap;
            }
        }
        @media (max-width: 700px) {
            height: 100%;
        }
    }
    .section-9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20rem;
        background-color: #fff;
        padding-bottom: 60rem;
        h1 {
            padding-top: 19rem;
            padding-bottom: 3rem;
            font-family: Roboto;
            font-size: 4.4rem;
            font-weight: 500;
            line-height: 5.2rem;
            letter-spacing: 0em;
            text-align: center;
            width: 35%;
            @media (max-width: 1000px) {
                width: 65%;
            }
        }
        .section-9-blok {
            display: flex;
            justify-content: center;
            border: 1px solid #fafafa;
            background-color: #fafafa;
            border-radius: 0.5rem;
            width: 40%;
            height: 7.7rem;
            input {
                height: 7.5rem;
                width: 100%;
                background-color: transparent;
                border: 1px solid transparent;
                font-family: Roboto;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: left;
                padding-left: 3rem;
                &:focus {
                    outline: transparent;
                }
            }
            .btn {
                @include btn;
                padding: 2.8rem 4.4rem;
            }
            @media (max-width: 700px) {
                width: 55%;
            }
        }
    }
    .footer {
        background-color: #0a0808;
        .footer-logo {
            padding-top: 7rem;
        }
        .footer-box {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding-bottom: 10rem;
            ul li {
                list-style-type: none;
                margin-bottom: 1rem;
            }
            a {
                color: #fff;
                font-family: Roboto;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.4rem;
                letter-spacing: 0em;
                text-align: left;
                opacity: 0.7;
                text-decoration: none;
                &:hover {
                    opacity: 1;
                }
            }
            .footer-box-blok-1 {
                width: 20%;
                margin-bottom: 4rem;
                p {
                    font-family: Roboto;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.7rem;
                    letter-spacing: 0.01em;
                    text-align: left;
                    opacity: 0.7;
                    margin-bottom: 2.5rem;
                    margin-top: 1rem;
                }
                h5 {
                    font-family: Roboto;
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1.4rem;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 1rem;
                }
                .footer-box-blok-1-socials {
                    .footer-box-blok-1-social {
                        margin-right: 1rem;
                    }
                }
                @media (max-width: 900px) {
                    min-width: 25rem;
                }
            }
            .footer-box-blok-2 {
                width: 15%;
                margin-bottom: 4rem;
                @media (max-width: 500px) {
                    // min-width: 25rem;
                }
            }
            .footer-box-blok-3 {
                width: 20%;
                margin-bottom: 4rem;
                @media (max-width: 500px) {
                    min-width: 25rem;
                }
                @media (max-width: 400px) {
                    min-width: 40rem;
                }
            }
            .footer-box-blok-4 {
                width: 35%;
                margin-bottom: 4rem;
                h4 {
                    font-family: Roboto;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.9rem;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 1.3rem;
                }
                .footer-box-blok-4-Subscribe {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px solid #d643747e;
                    border-right: 2px solid transparent;
                    border-radius: 0.5rem;
                    height: 5.5rem;
                    margin-bottom: 1.5rem;
                    input {
                        background-color: transparent;
                        font-family: Roboto;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.6rem;
                        letter-spacing: 0em;
                        text-align: left;
                        padding-left: 3rem;
                        border: 1px solid transparent;
                        color: #fff;
                        &:focus {
                            outline: transparent;
                        }
                    }
                    .btn {
                        @include btn;
                        font-family: Roboto;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 2.3rem;
                        letter-spacing: 0em;
                        text-align: left;
                        padding: 1.6rem 1.8rem;
                        height: 5.6rem;
                        // border: 2px solid #D23166;
                    }
                }
                .footer-box-blok-4-socials {
                    a {
                        margin-right: 1rem;
                    }
                }
                @media (max-width: 900px) {
                    min-width: 40rem;
                }
            }
            @media (max-width: 900px) {
                flex-wrap: wrap;
            }
        }
    }
}
