* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 700px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 28%;
  }
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Hind Madurai";
  src: url(../font/Hind_Madurai/HindMadurai-Regular.ttf);
}

@font-face {
  font-family: "Fredoka One";
  src: url(../font/Fredoka_One/FredokaOne-Regular.ttf);
}

body {
  background-color: #f2ceda;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #d23166;
  border-radius: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.color-pink {
  color: #d23166;
}

.navbar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-box .navbar-box-center .fixed-navbar .navbar-cancel {
  font-size: 5.5rem;
  cursor: pointer;
  margin-left: 77%;
  opacity: 0.7;
  display: none;
}

.navbar-box .navbar-box-center .fixed-navbar .navbar-cancel:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .navbar-box .navbar-box-center .fixed-navbar {
    position: fixed;
    top: 0rem;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #8591a6;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
  }
  .navbar-box .navbar-box-center .fixed-navbar .for-media-li-top {
    margin-top: 8rem;
  }
  .navbar-box .navbar-box-center .fixed-navbar li {
    display: block;
    margin-bottom: 3rem;
  }
  .navbar-box .navbar-box-center .fixed-navbar li a {
    font-size: 4rem !important;
  }
  .navbar-box .navbar-box-center .fixed-navbar .navbar-cancel {
    display: block;
  }
}

.navbar-box .navbar-box-center .navbar-fixed-show {
  position: fixed;
  top: 0rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #8591a6;
}

.navbar-box .navbar-box-center ul li {
  list-style: none;
  display: inline-block;
  margin-right: 4rem;
}

.navbar-box .navbar-box-center ul li a {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #150101;
  opacity: 0.6;
}

.navbar-box .navbar-box-center ul li a:hover {
  color: #d23166;
  opacity: 1;
  font-weight: bold;
}

.navbar-box .navbar-box-bottom .btn-my {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.navbar-box .navbar-box-bottom .btn-my:hover {
  background-color: yellow;
}

.navbar-box #check {
  display: none;
}

.navbar-box .checkbtn {
  display: none;
}

.navbar-box .checkbtn i {
  font-size: 3rem;
  opacity: 0.7;
}

.navbar-box .checkbtn i:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .navbar-box .checkbtn {
    display: block;
  }
}

.main .section-1 .section-1-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section-1 .section-1-box .section-1-box-top {
  width: 50%;
  margin-bottom: 12rem;
}

.main .section-1 .section-1-box .section-1-box-top h5 {
  margin-top: 15rem;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.1em;
  color: #0f0101;
}

.main .section-1 .section-1-box .section-1-box-top h1 {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 5.7rem;
  color: #0f0101;
  opacity: 0.9;
}

.main .section-1 .section-1-box .section-1-box-top h1 span {
  font-size: 5.7rem;
}

.main .section-1 .section-1-box .section-1-box-top p {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #0f0101;
  margin: 3.5rem 0;
  opacity: 0.6;
}

.main .section-1 .section-1-box .section-1-box-top .btn-my {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: Hind Madurai;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  text-align: left;
}

.main .section-1 .section-1-box .section-1-box-top .btn-my:hover {
  background-color: yellow;
}

@media (max-width: 700px) {
  .main .section-1 .section-1-box .section-1-box-top {
    min-width: 30rem;
    width: 100%;
  }
}

.main .section-1 .section-1-box .section-1-box-bottom {
  width: 50%;
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position {
  position: relative;
  width: 70%;
  height: 100%;
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position .section-1-box-img {
  position: absolute;
  width: 100%;
  left: 20%;
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position .my-position-1 {
  top: 2rem;
  left: 0%;
  width: 54rem;
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position .my-position-2 {
  left: -16rem;
  bottom: -2rem;
  width: 80rem;
}

@media (max-width: 1200px) {
  .main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position .my-position-2 {
    bottom: -4rem;
  }
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position .my-position-3 {
  top: 35rem;
  left: 10rem;
  width: 32rem;
}

@media (max-width: 1300px) {
  .main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position {
    display: none;
  }
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position-img img {
  width: 150%;
}

@media (max-width: 750px) {
  .main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position-img img {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .main .section-1 .section-1-box .section-1-box-bottom .section-1-box-position-img {
    display: none;
  }
}

@media (max-width: 750px) {
  .main .section-1 .section-1-box .section-1-box-bottom {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main .section-1 .section-1-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
}

.main .section-2 {
  background-color: #fff;
  margin-top: 4rem;
}

.main .section-2 .section-2-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5rem;
}

.main .section-2 .section-2-box .section-2-blok {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20rem;
  margin-top: 10rem;
  border: 1px solid #00000008;
}

.main .section-2 .section-2-box .section-2-blok img {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.main .section-2 .section-2-box .section-2-blok h3 {
  font-family: "Hind Madurai";
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  text-align: center;
}

.main .section-2 .section-2-box .section-2-blok p {
  font-family: "Hind Madurai";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  margin-top: 1rem;
  width: 80%;
  margin-bottom: 3rem;
  opacity: 0.6;
}

@media (max-width: 800px) {
  .main .section-2 .section-2-box .section-2-blok {
    width: 45%;
  }
}

@media (max-width: 400px) {
  .main .section-2 .section-2-box .section-2-blok {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .main .section-2 .section-2-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .section-3 .section-3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section-3 .section-3-box .section-3-blok-1 {
  width: 50%;
  margin-top: 14rem;
}

.main .section-3 .section-3-box .section-3-blok-1 h1 {
  font-family: "Hind Madurai";
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 4.9rem;
  letter-spacing: 0em;
  margin-top: 3rem;
  width: 70%;
}

@media (max-width: 750px) {
  .main .section-3 .section-3-box .section-3-blok-1 h1 {
    width: 100%;
  }
}

.main .section-3 .section-3-box .section-3-blok-1 p {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  margin-top: 1.6rem;
  margin-bottom: 3rem;
  opacity: 0.6;
}

.main .section-3 .section-3-box .section-3-blok-1 .btn {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10rem;
}

.main .section-3 .section-3-box .section-3-blok-1 .btn:hover {
  background-color: yellow;
}

@media (max-width: 850px) {
  .main .section-3 .section-3-box .section-3-blok-1 {
    width: 100%;
    min-width: 42.5rem;
  }
}

.main .section-3 .section-3-box .section-3-blok-2 {
  width: 50%;
  position: relative;
}

.main .section-3 .section-3-box .section-3-blok-2 .section-3-position {
  position: absolute;
  width: 100%;
}

.main .section-3 .section-3-box .section-3-blok-2 .section-3-img-1 {
  top: 0rem;
}

.main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
  top: 41rem;
  left: 20%;
  width: 60%;
}

@media (max-width: 1000px) {
  .main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
    top: 30rem;
  }
}

@media (max-width: 850px) {
  .main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
    top: 50rem;
  }
}

@media (max-width: 700px) {
  .main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
    top: 60rem;
  }
}

@media (max-width: 580px) {
  .main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
    top: 50rem;
  }
}

@media (max-width: 480px) {
  .main .section-3 .section-3-box .section-3-blok-2 .section-3-img-2 {
    top: 40rem;
  }
}

@media (max-width: 850px) {
  .main .section-3 .section-3-box .section-3-blok-2 {
    width: 100%;
    min-width: 42.5rem;
    height: 60rem;
  }
}

@media (max-width: 850px) {
  .main .section-3 .section-3-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main .section-4 {
  background-color: #fff;
}

.main .section-4 .section-4-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-4 .section-4-box h1 {
  padding-top: 14rem;
  font-family: "Hind Madurai";
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 6rem;
}

.main .section-4 .section-4-box ul {
  overflow-x: scroll !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1000px) {
  .main .section-4 .section-4-box ul {
    width: 100%;
  }
}

.main .section-4 .section-4-box ul li {
  list-style-type: none;
  display: inline-block;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  margin-right: 4rem;
  white-space: nowrap;
  opacity: 0.6;
  border: 2px solid transparent;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.main .section-4 .section-4-box ul li:hover {
  opacity: 1;
  border-bottom: 2px solid #d64374;
}

.main .section-5 {
  background-color: #fff;
  padding-bottom: 3rem;
}

.main .section-5 .section-5-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-5 .section-5-box .section-5-box-blok-1 {
  width: 50%;
}

.main .section-5 .section-5-box .section-5-box-blok-1 img {
  width: 100%;
}

@media (max-width: 700px) {
  .main .section-5 .section-5-box .section-5-box-blok-1 {
    min-width: 40rem;
    width: 80%;
  }
}

.main .section-5 .section-5-box .section-5-box-blok-2 {
  width: 45%;
}

.main .section-5 .section-5-box .section-5-box-blok-2 h1 {
  font-family: Hind Madurai;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5rem;
}

.main .section-5 .section-5-box .section-5-box-blok-2 p {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.main .section-5 .section-5-box .section-5-box-blok-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 1.6rem;
}

.main .section-5 .section-5-box .section-5-box-blok-2 div h1 {
  font-family: "Hind Madurai";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 0.5rem;
  margin-top: 0;
}

.main .section-5 .section-5-box .section-5-box-blok-2 div span {
  font-family: Hind Madurai;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
}

.main .section-5 .section-5-box .section-5-box-blok-2 .btn {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.main .section-5 .section-5-box .section-5-box-blok-2 .btn:hover {
  background-color: yellow;
}

@media (max-width: 700px) {
  .main .section-5 .section-5-box .section-5-box-blok-2 {
    min-width: 30rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main .section-5 .section-5-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main .section-6 {
  background-color: #fff;
  padding-bottom: 3rem;
}

.main .section-6 .section-6-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-6 .section-6-box .section-6-box-blok-2 {
  width: 45%;
}

.main .section-6 .section-6-box .section-6-box-blok-2 img {
  width: 100%;
}

@media (max-width: 700px) {
  .main .section-6 .section-6-box .section-6-box-blok-2 {
    min-width: 35rem;
    width: 70%;
  }
}

.main .section-6 .section-6-box .section-6-box-blok-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .section-6 .section-6-box .section-6-box-blok-1 h1 {
  font-family: "Hind Madurai";
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5rem;
}

.main .section-6 .section-6-box .section-6-box-blok-1 p {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: right;
}

.main .section-6 .section-6-box .section-6-box-blok-1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 1.6rem;
}

.main .section-6 .section-6-box .section-6-box-blok-1 div h1 {
  font-family: "Hind Madurai";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 0.5rem;
  margin-top: 0;
}

.main .section-6 .section-6-box .section-6-box-blok-1 div span {
  font-family: Hind Madurai;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
}

.main .section-6 .section-6-box .section-6-box-blok-1 .btn {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.main .section-6 .section-6-box .section-6-box-blok-1 .btn:hover {
  background-color: yellow;
}

@media (max-width: 700px) {
  .main .section-6 .section-6-box .section-6-box-blok-1 {
    min-width: 35rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main .section-6 .section-6-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main .section-7 {
  background-color: #fff;
}

.main .section-7 .section-7-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-7 .section-7-box .section-7-box-blok-1 {
  width: 35%;
  margin-bottom: 6rem;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-blog img {
  margin-right: 2rem;
  border-radius: 50%;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-blog h1 {
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 1rem;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-blog h2 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
}

.main .section-7 .section-7-box .section-7-box-blok-1 p {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline;
  position: relative;
}

.main .section-7 .section-7-box .section-7-box-blok-1 p .symbol-left {
  position: absolute;
  top: 0;
  left: 0;
}

.main .section-7 .section-7-box .section-7-box-blok-1 p .symbol-right {
  position: absolute;
  bottom: -1rem;
  right: 0;
}

@media (max-width: 700px) {
  .main .section-7 .section-7-box .section-7-box-blok-1 p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  width: 80%;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment .btn-comment {
  background-color: transparent;
  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment .btn-comment i {
  font-size: 1.8rem;
  color: #d64374;
  opacity: 0.7;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment .btn-comment i:hover {
  opacity: 1;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment .comment-img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.main .section-7 .section-7-box .section-7-box-blok-1 .section-7-comment .comment-img-active {
  width: 60px;
  height: 60px;
  border: 1px solid #d64374;
}

@media (max-width: 700px) {
  .main .section-7 .section-7-box .section-7-box-blok-1 {
    min-width: 35rem;
    width: 100%;
  }
}

.main .section-7 .section-7-box .section-7-box-blok-2 {
  width: 50%;
}

.main .section-7 .section-7-box .section-7-box-blok-2 img {
  width: 100%;
}

@media (max-width: 700px) {
  .main .section-7 .section-7-box .section-7-box-blok-2 {
    min-width: 35rem;
    width: 70%;
  }
}

@media (max-width: 700px) {
  .main .section-7 .section-7-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main .section-8 {
  height: 62rem;
}

.main .section-8 .section-8-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

.main .section-8 .section-8-box .section-8-box-blok-1 img {
  width: 100%;
  margin-top: 4.4rem;
  border-radius: 3rem;
}

@media (max-width: 700px) {
  .main .section-8 .section-8-box .section-8-box-blok-1 {
    min-width: 35rem;
    width: 60%;
  }
}

.main .section-8 .section-8-box .section-8-box-blok-2 {
  width: 40%;
  margin-left: 10%;
  margin-bottom: 5rem;
}

.main .section-8 .section-8-box .section-8-box-blok-2 h1 {
  font-family: Roboto;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main .section-8 .section-8-box .section-8-box-blok-2 p {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 3rem;
}

.main .section-8 .section-8-box .section-8-box-blok-2 .section-8-blok-2-helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.main .section-8 .section-8-box .section-8-box-blok-2 .section-8-blok-2-helper .section-8-blok-for-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

.main .section-8 .section-8-box .section-8-box-blok-2 .section-8-blok-2-helper h3 {
  font-family: Roboto;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.main .section-8 .section-8-box .section-8-box-blok-2 .stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.main .section-8 .section-8-box .section-8-box-blok-2 .stores .logo-play-market {
  width: 23rem;
  height: 5rem;
  margin-left: -2rem;
}

@media (max-width: 1090px) {
  .main .section-8 .section-8-box .section-8-box-blok-2 .stores .logo-play-market {
    margin-left: -1.3rem;
    margin-bottom: 2rem;
  }
}

.main .section-8 .section-8-box .section-8-box-blok-2 .stores .logo-app-store {
  width: 20rem;
  height: 5rem;
}

@media (max-width: 1090px) {
  .main .section-8 .section-8-box .section-8-box-blok-2 .stores {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .main .section-8 .section-8-box .section-8-box-blok-2 {
    min-width: 35rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main .section-8 .section-8-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .main .section-8 {
    height: 100%;
  }
}

.main .section-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  background-color: #fff;
  padding-bottom: 60rem;
}

.main .section-9 h1 {
  padding-top: 19rem;
  padding-bottom: 3rem;
  font-family: Roboto;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 5.2rem;
  letter-spacing: 0em;
  text-align: center;
  width: 35%;
}

@media (max-width: 1000px) {
  .main .section-9 h1 {
    width: 65%;
  }
}

.main .section-9 .section-9-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fafafa;
  background-color: #fafafa;
  border-radius: 0.5rem;
  width: 40%;
  height: 7.7rem;
}

.main .section-9 .section-9-blok input {
  height: 7.5rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 3rem;
}

.main .section-9 .section-9-blok input:focus {
  outline: transparent;
}

.main .section-9 .section-9-blok .btn {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 2.8rem 4.4rem;
}

.main .section-9 .section-9-blok .btn:hover {
  background-color: yellow;
}

@media (max-width: 700px) {
  .main .section-9 .section-9-blok {
    width: 55%;
  }
}

.main .footer {
  background-color: #0a0808;
}

.main .footer .footer-logo {
  padding-top: 7rem;
}

.main .footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding-bottom: 10rem;
}

.main .footer .footer-box ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.main .footer .footer-box a {
  color: #fff;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.7;
  text-decoration: none;
}

.main .footer .footer-box a:hover {
  opacity: 1;
}

.main .footer .footer-box .footer-box-blok-1 {
  width: 20%;
  margin-bottom: 4rem;
}

.main .footer .footer-box .footer-box-blok-1 p {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.01em;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.main .footer .footer-box .footer-box-blok-1 h5 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}

.main .footer .footer-box .footer-box-blok-1 .footer-box-blok-1-socials .footer-box-blok-1-social {
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .main .footer .footer-box .footer-box-blok-1 {
    min-width: 25rem;
  }
}

.main .footer .footer-box .footer-box-blok-2 {
  width: 15%;
  margin-bottom: 4rem;
}

.main .footer .footer-box .footer-box-blok-3 {
  width: 20%;
  margin-bottom: 4rem;
}

@media (max-width: 500px) {
  .main .footer .footer-box .footer-box-blok-3 {
    min-width: 25rem;
  }
}

@media (max-width: 400px) {
  .main .footer .footer-box .footer-box-blok-3 {
    min-width: 40rem;
  }
}

.main .footer .footer-box .footer-box-blok-4 {
  width: 35%;
  margin-bottom: 4rem;
}

.main .footer .footer-box .footer-box-blok-4 h4 {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.3rem;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-Subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #d643747e;
  border-right: 2px solid transparent;
  border-radius: 0.5rem;
  height: 5.5rem;
  margin-bottom: 1.5rem;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-Subscribe input {
  background-color: transparent;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 3rem;
  border: 1px solid transparent;
  color: #fff;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-Subscribe input:focus {
  outline: transparent;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-Subscribe .btn {
  padding: 1.4rem 5rem;
  font-family: 'Hind Madurai';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0em;
  background-color: #D23166;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.3rem;
  letter-spacing: 0em;
  text-align: left;
  padding: 1.6rem 1.8rem;
  height: 5.6rem;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-Subscribe .btn:hover {
  background-color: yellow;
}

.main .footer .footer-box .footer-box-blok-4 .footer-box-blok-4-socials a {
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .main .footer .footer-box .footer-box-blok-4 {
    min-width: 40rem;
  }
}

@media (max-width: 900px) {
  .main .footer .footer-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */